
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-header">
              <div>
                <h2 class="text-info">Фойдаланувчилар рўйхати</h2>
                <div class="page-title-subheading">
                    Бу ерда фойдаланувчиларни бошқариш мумкин
                </div>
            </div>
        </div>
        <div class="page-title-subheading">
            <a class="mb-2 mr-2 btn-transition btn btn-outline-info" asp-area="Identity" asp-page="/Account/Register">
                <i class="fas fa-plus"></i>
                &nbsp; Фойдаланувчи Қўшиш
            </a>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="main-card mb-3 card">
        <div class="card-body">


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">

                    <div class="basic-tb-hd">

                        <div class="row">
                            <div class="col-6 float-right">


                            </div>


                            <div class="table-responsive">
                                <table id="data-table-basic" class="table" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th style="width:10px">Исми</th>
                                            <th>Фамилияси</th>
                                            <th>Почтаси</th>
                                            <th>Тел. рақами</th>
                                            <th>Address</th>
                                            <th style="width:10px">Роли</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th style="width:10px">Исми</th>
                                            <th>Фамилияси</th>
                                            <th>Почтаси</th>
                                            <th>Тел. рақами</th>
                                            <th>Address</th>
                                            <th style="width:10px">Роли</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="text-center">
        <a href="/Admin/Address/Upsert/AddressId" class="btn btn-success text-white" style="cursor:pointer">
            <i class="fas fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" style="cursor:pointer">
            <i class="fas fa-trash-alt"></i>
        </a>
    </div>*@

@section Scripts{
    <script src="~/js/user.js"></script>

}
